
<div class ="pt-5 mt-5">

    <%if @searchedBlog.empty? %>
        <h2 class= "text-center">No any Blog found. Please try something else...</h2>
    <%else%>
        
        
            <% @searchedBlog.each do |blog| %>
                <div class="container">
                    <div class="display-5 ">
                        <%=link_to blog.blog_title, blog ,:class => "card card-inverse text-uppercase text-success text-decoration-none"%>
                        
                    </div>
                    <div><%=blog.created_at%></div>
                </div>
            <% end %>

        
    <%end%>
    <br>
   
    
</div>