
<div class ="pt-5 mt-5">

    <%if @searchedBlog.empty? %>
        <h2 class= "text-center">No any Blog found. Please try something else...</h2>
    <%else%>
        
        <ol>
            <% @searchedBlog.each do |blog| %>
                
                    <li><%=link_to blog.blog_title, blog ,:class => "text-success text-decoration-none"%></li>

            <% end %>

        </ol>
    <%end%>
    <br>
   
    
</div>