<div class="container">
    <div class= "row">

        <div class="col-md-12 bg-secondary">

            <div class="d-flex justify-content-center">
                <div class="rounded-circle bg-light fa fa-user my-3 fa-4x p-4">
                            
                </div>
                <div>                <%=@blog.blog_author%></div>



            </div>

                

            <div class= "col-md-12">
            <div class = "d-flex justify-content-between mx-5">
              
                
                <%=@blog.blog_content%>  
            </div>
               
        </div>

    </div>

</div>